<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Local CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgers.js"></script>

    <title>MVC With Burgers!</title>

  </head>

  <body>

      {{{body}}}

  </body>
</html>