<h1>Burger app to demonstrate MVC </h1>

<p> Burgers that are ready to devour! </p>
<ul>
  {{#each burgers}}
    {{#unless devoured}}    
    <li>
      <button class="btn btn-primary btn-lg eatburger" id={{this.id}} type="submit">{{this.burger_name}}</button>      
    </li>    
    {{/unless}}
  {{/each}}
</ul>

<p> Burgers that are Devoured </p>
<ul>
    {{#each burgers}}
    {{#if devoured}}
        <li>          
           <button class="btn btn-primary btn-lg delete-burger" id={{this.id}} type="submit">{{this.burger_name}}</button>           
        </li>
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger:</h2>
<form class="add-burger">

<div class="form-group">
    <label for="ca">Burger Name</label>
    <input type="text" id="ca" name="burger">
    <input type="hidden" name="devoured" value="0">
</div>
    <button class="btn btn-primary btn-lg" type="submit">Add Burger</button>
</form>